		,{max-width: ;;
margin: auto ;;
display:flex ;;
flex-direction:column ;;
gap: ;;
},,{padding: ;;
font-size: ;;
width: ;;
},{background-color:#28a745 ;;
color:white ;;
padding: ;;
font-size: ;;
border:none ;;
cursor:pointer ;;
}